*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.main{
  width: 100vw;
  height: 100vh;
}
.grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 1% 15%;
  height: 37%;
}
.flex{
  display:flex;
  justify-content: space-between;
}
.hero1,.hero2,.villian1,.villian2{
  border: 5px solid #E5E5E5;
  border-radius: 10px;
  padding: 4%;
}
h3,.grid img{
  text-align: center;
  font-size: 20px;
}
.score p,p{
  text-align: center;
  font-size: 50px;
}
